<header>
    <ul>
        <li><a asp-controller="Products" asp-action="Index">Products</a></li>
        <li><a asp-controller="PickUpPoints" asp-action="Index">Pick up points</a></li>
    </ul>
    <button>Authorization</button>
</header>